<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Dar Aref Shop</title>
  </head>
  <body>
  <nav>
    <%- include('../partials/_navbar.ejs') %>
  </nav>

  <h1 class="shop-title">All Products</h1>
  <div class="product-grid">
    <% products.forEach((product) => { %>
      <div class="product-card">
        <a href="/product/<%= product._id %>" class="product-card-link">
          <h2 class="product-name"><%= product.name %></h2>

          <% if (product.image) { %>
            <img src="/uploads/<%= product.image %>" alt="<%= product.name %>" class="product-image">
          <% } %>

          <p class="product-description"><%= product.description %></p>
          <h3 class="product-price"><%= product.price %> BHD</h3>
        </a>

        <form class="add-to-cart-form" action="/cart/<%= product._id %>" method="POST">
          <button class="add-to-cart" type="submit">Add to Cart</button>
        </form>
      </div>
    <% }) %>
  </div>


</body>

</html>
