<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <title>All Orders</title>
</head>
<body>
  <%- include('../partials/_navbar.ejs') %>
<div class="order-list-header">
  <h1>All Orders</h1>
</div>
  <% if (orders.length > 0) { %>
    <% orders.forEach(order => { %>
      <div class="order-card">
        <h3>Order ID: <%= order._id %></h3>
        <p>Name: <%= order.name %></p>
        <p>Email: <%= order.email %></p>
        <p>Phone: <%= order.phone %></p>
        <p>Address: <%= order.address %></p>
        <p>Total: <%= order.totalPrice %> BHD</p>
        <h4>Items:</h4>
        <ul>
          <% order.items.forEach(item => { %>
            <li class="order-item">
              <% if(item.product) { %>
                <img src="/uploads/<%= item.product.image %>" alt="<%= item.product.name %>" class="order-item-image">
                <span><%= item.product.name %> x <%= item.quantity %> = <%= item.price * item.quantity %> BHD</span>
              <% } %>
            </li>
          <% }) %>
        </ul>

        <% if(user && user.role === 'admin') { %>
          <form action="/admin/orders/<%= order._id %>?_method=DELETE" method="POST" class="order-card-actions">
            <button type="submit" class="delete-btn">Delete Order</button>
          </form>
        <% } %>
      </div>
    <% }) %>

  <% } else { %>
    <p>No orders yet.</p>
  <% } %>
</body>
</html>