<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= products.name %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    
    <div class="products-details">

      <% if(user.role=='admin'){ %>
          <div class="products-actions">
        <form
          class="delete-form"
          action="/products/<%= products._id %>?_method=DELETE"
          method="POST" >
          <button class="delete-button" type="submit"> Delete <%= products.name %>
          </button>
        </form>
        <a class="edit-link" href="/products/<%= products._id %>/edit">
          <div class="edit-text">Edit <%= products.name %></div>
        </a>
      <% }else{  %>
          <h1><%= products.name %></h1>
          <h1><%= products.name %></h1>
          <p>Description: <%= products.description %></p>
          <a id="price" name="price" class="price"><%= products.price %></a>
          <% if (products.image) { %>
            <img src="/uploads/<%= products.image %>" alt="<%= products.name %>" class="products-pic1">
          <% } %>
      <% } %>
      </div>
      <a href="/product">Back to shop</a>  
    </div> 
  </body>
</html>
