<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= products.name %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <nav>
      <%- include('../partials/_navbar.ejs') %>
    </nav>

    <div class="product-details">
      <div class="product-main">
        <% if (products.image) { %>
          <img src="/uploads/<%= products.image %>" alt="<%= products.name %>" class="product-pic1">
        <% } %>

        <div class="product-info">
          <h1><%= products.name %></h1>
          <p>Description: <%= products.description %></p>

          <div class="price-cart-container">
            <span id="price" class="price"><%= products.price %> BHD</span>
            <form action="/cart/<%= products._id %>" method="POST">
              <button class="add-to-cart">Add to cart</button>
            </form>
          </div>
        </div>
        
      </div>

      <% if(user && user.role=='admin'){ %>
        <div class="product-actions">
          <form
            class="delete-form"
            action="/product/<%= products._id %>?_method=DELETE" method="POST" >
            <button class="delete-button" type="submit"> Delete <%= products.name %>
            </button>
          </form>
          <a class="edit-link" href="/product/<%= products._id %>/edit">
            <div class="edit-text">Edit <%= products.name %></div>
          </a>
        </div>
      <% } %>

      <a href="/product">Back to shop</a>  
    </div> 
  </body>
</html>
