<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= products.name %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="product-details">
      <h1><%= products.name %></h1>
      <p>Description: <%= products.description %></p>
      <a id="price" name="price" class="price"><%= products.price %> BHD</a>
      <% if (products.image) { %>
        <img src="/uploads/<%= products.image %>" alt="<%= products.name %>" class="product-pic1">
      <% } %>

      <% if(user && user.role=='admin'){ %>
        <div class="product-actions">
          <form
            class="delete-form"
            action="/product/<%= products._id %>?_method=DELETE" method="POST" >
            <button class="delete-button" type="submit"> Delete <%= products.name %>
            </button>
          </form>
          <a class="edit-link" href="/product/<%= products._id %>/edit">
            <div class="edit-text">Edit <%= products.name %></div>
          </a>
        </div>
      <% } %>
        <form action="/cart/<%= products._id %>" method="POST">
          <button>Add to cart</button>
        </form>

      <a href="/product">Back to shop</a>  
    </div> 
  </body>
</html>
