<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Foods App</title>
  </head>
  <body>
    <div class="index-header-div">
      <h1>All Foods</h1> 
      <a class="add-food" href="/users/<%= userId %>/foods/new">Add Food</a>
    </div>

    <ul>
      <% foods.forEach((food) => { %>
        <li>
          <a class="food-cards" href="/users/<%= userId %>/foods/<%= food._id %>">
            <%= food.name %> - <%= food.description %>
            <% if (food.image) { %>
              <br>
              <img src="/uploads/<%= food.image %>" alt="<%= food.name %>" class="food-pic1">
            <% } %>
          </a>
        </li>
      <% }) %>
    </ul>
  </body>
</html>
