<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Edit </title>
</head>
<body>
  <h1>Edit recipe  <%= foods.name %></h1>
  <form action="/users/<%= userId %>/foods/<%=foods._id%>?_method=PUT" method="POST" enctype="multipart/form-data">
        <label for="name">Name of Dish :</label>
        <input type="text" name="name" id="name" value="<%= foods.name %>"/>
        <label for="description">Description of Dish :</label>
        <input type="text" name="description" id="description" value="<%= foods ? foods.description : '' %>">
        <label for="image">Dish Image:</label>
        <input type="file" name="image" id="image">
        <button type="submit">Update Dish</button>
  </form>
  <h3>Image:</h3>
  <% if (foods.image) { %>
    <img src="/uploads/<%= foods.image %>" alt="<%= foods.name %>" class="food-pic1">
  <% } %>
  <a href="/users/<%= userId %>/foods">Back to Dishes list</a>
</body>
</html>
